<% if logged_in? %>
<h3>Hi <%= current_user.username %>! Review the endorsements below and create your own voting guide to take to the polls.</h3>
<% end %>

<div >
    <ul>
        <% @categories.each do |cat| %>
            <li><b><%= cat.title %></b></li>
            <br>
            <ul>
                <% cat.choices.each do |ch| %>
                <li><b><%= ch.choice %></b><br><i><%= ch.summary %></i></li>
                <br>
                <ul id = "outer">
                    <% ch.decisions.each do |dec| %>
                    <div class = "group" >
                        <% if dec.user.group == true %>
                            <li><%= dec.user.name %></li>
                            <% if dec.decision == "Yes" %>
                                <b><%= link_to dec.decision, decision_path(dec), class: "yes" %></b>
                            <% elsif dec.decision == "No" %>
                                <b><%= link_to dec.decision, decision_path(dec), class: "no" %></b>
                            <% else %>
                                <b><%= link_to dec.decision, decision_path(dec), class: "whatever" %></b>
                            <% end %>
                            <br>
                        <% end %>
                    </div>
                    <div class = "group" >
                        <% if dec.user == current_user %>
                            <li><%=  current_user.username %></li>
                            <% if dec.decision == "" %>
                                <li><b><%= link_to "Decide", edit_decision_path(dec) %></b></li>
                            <% else %>
                                <% if dec.decision == "Yes" %>
                                    <b><%= link_to dec.decision, edit_decision_path(dec), class: "yes"  %></b>
                                <% elsif dec.decision == "No" %>
                                    <b><%= link_to dec.decision, edit_decision_path(dec), class: "no"  %></b>
                                <% else %>
                                    <b><%= link_to dec.decision, edit_decision_path(dec), class: "whatever"  %></b>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                    <% end %>
                </ul>
                <% end %>
            </ul>
        <% end %>
    </ul>
</div>