<h1>Decisions</h1>
<% if logged_in? %>
<% 
=begin %>
<h3>Welcome, <%= current_user %>!</h3>
<%
=end %>
<% end %>

<ul>
    <% @categories.each do |cat| %>
        <li><b><%= cat.title %></b></li>
        <ul>
            <% cat.choices.each do |ch| %>
            <li><b><%= ch.choice %></b>: <i><%= ch.summary %></i></li>
            <ul>
                <% ch.decisions.each do |dec| %>
                    <li><b><%= dec.user.name %></b>: <%= dec.decision %></li>
                <% end %>
                <% @users.each do |u| %>
<% 
=begin %>
If statement below is a hack to not show groups twice
<%
=end %>
                    <% if u.group == false %>
                        <li><b><%= link_to u.name, new_decision_path(user_id: u, choice_id: ch) %></b></li>
                    <% end %>
                <% end %>
                
            </ul>
            <% end %>
        </ul>
    <% end %>
</ul>