<%= link_to "Home", decisions_path %>

<h1><%= @decision.choice.category.title %>: <%= @decision.choice.choice %></h1>
<% if @decision.user.group == true %>
    <h2><%= @decision.user.name %>: <%= @decision.decision %></h2>
<% else %>
    <h2><%= @decision.user.username %>: <%= @decision.decision %></h2>
<% end %>




<%= button_to "Edit", edit_decision_path, method: :get %>
<br>
 <%= button_to "Delete", @decision, method: :delete, data: {confirm: "Are you sure?"} %>
<br>