<h1><%= @decision.choice.category.title %>: <%= @decision.choice.choice %></h1>
<h2><%= @decision.user.name %>: <%= @decision.decision %></h2>



<%= link_to "Edit", edit_decision_path %>
<br>
<%= link_to "Home", decisions_path %>