<!DOCTYPE html>
<html>
  <head>
    <title>VotingGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
      <% flash.each do |k, v| %>
        <p class="<%= k %>"><%= v %></p>
      <% end %>
  <p style="text-align:right">
    <% if logged_in? %>

      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Sign In", login_path %>
    <% end %>
    </p>
    <%= yield %>
  </body>
</html>
